body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.categorias-productos {
    margin: 50px auto;
    text-align: center;
    max-width: 1200px;
}

.titulo-categorias {
    font-size: 2.5em !important; 
    color: #fff; 
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px; 
    display: inline-block; 
}

.categoria-productos-productos {
    position: relative;
    overflow: visible; /* Permite que los elementos salgan del contenedor */
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-decoration: none;
    color: inherit;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row; /* Cambia a fila para alinear imagen y texto */
    align-items: center;
    margin-bottom: 20px; /* Añade espacio entre los productos */
}

.categoria-productos-productos img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Añade espacio entre la imagen y el texto */
}

.descripcion-producto {
    text-align: left; /* Alinea el texto a la izquierda */
    background: #fff;
    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    
}

.precio {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-right: 620px; /* Añade espacio entre el precio y el botón */
}

.descripcion-producto h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.descripcion-producto p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}


.imagen-raton-skypros600 {
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

.imagen-raton-skyproc300 {
    margin-top: 20px;
    width: 200px;
    text-align: center;
}

.imagen-raton-skyf700 {
    margin-top: -10px;
    width: 170px !important; 
    height: auto; 
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.imagen-teclado-skypros900 {
    margin-top: 20px;
    width: 200px ;
    text-align: center;
}

.imagen-teclado-skyproc300 {
    margin-top: 20px;
    width: 150px !important;
    text-align: right !important;
    margin-right: 45px !important;
    margin-left: 25px !important;
    border-radius: 20px !important;
}

.imagen-teclado-skyprof200 {
    margin-top: 20px;
    width: 200px; 
    text-align: center;
}

.categoria:hover .imagen-teclado {
    transform: scale(1.1);
}

.overlay-productos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    color: white;
    padding: 15px;
    text-align: center;
}

.categoria:hover .overlay-productos {
    opacity: 1;
}

.overlay-productos h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 8px;
}

.overlay-productos p {
    font-size: 1em;
    line-height: 1.5;
    max-width: 80%;
}


/* Contenedor principal de categorías */
.categorias-productos {
    margin: 50px auto;
    text-align: center;
    max-width: 1200px;
}

/* Título principal de categorías */
.titulo-categorias {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contenedor de categorías en grid */
.contenedor-categorias-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    justify-content: center;
}

/* Estilo individual de cada categoría */
.categoria-productos-productos {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.categoria-productos:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Imagen dentro de la categoría */
.imagen-raton-skypros600 {
    margin-top: 10px;
    width: 200px;
    text-align: center;
    
    
}
.imagen-raton-skyproc300 {
    margin-top: 20px;
    width: 200px;
    text-align: center;

    
    
}

.categoria:hover .imagen-teclado {
    transform: scale(1.1);
}

/* Overlay para el efecto de información */
.overlay-productos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    color: white;
    padding: 15px;
    text-align: center;
}

.categoria:hover .overlay-productos {
    opacity: 1;
}

.overlay-productos h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 8px;
}

.overlay-productos p {
    font-size: 1em;
    line-height: 1.5;
    max-width: 80%;
}

/*index.html*/
.categorias {
    margin: 50px 0;
    text-align: center;
}

.titulo-categorias {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.contenedor-categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.categoria {
    margin-top: 20px;
    margin-top: 20px;
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contenedor-ratones {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagen-teclado {
.contenedor-ratones {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagen-teclado {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen-raton{
    width: 200px;
    text-align: center;
}
.imagen-auriculares{
    width: 150px;
    text-align: center;
    padding-right: 20px;
}

.imagen-accesorios{
    width: 150px;
    text-align: center;
    padding-top: 20px;
}


.imagen-raton{
    width: 200px;
    text-align: center;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    padding: 10px;
}

.categoria:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1em;
    text-align: center;
}

.encabezado {
    text-align: center;
    margin-bottom: 40px;
}

.titulo {
    font-size: 2.5em;
    color: #333;
}

.menu {
    background-color: #333;
    overflow: hidden;
    top: 10px; 
    top: 10px; 
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.menu a {
    float: left;
    display: block;
    color: skyblue;
    text-align: center;
    padding: 0px 15px;
    padding: 40px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
}

.menu a:hover {
    background-color: white; 
    color: skyblue; 
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.menu .login-button {
    border: 2px solid skyblue; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.menu .login-button:hover {
    background-color: skyblue; 
    color: white; 
    border-color: white; 
}

.menu img {
    width: 100px;
    float: left;
    padding-right: 0px;
    padding-left: 10px;
}

.menu img {
    width: 80px;
    float: left;
    padding-right: 20px;
    margin-top: 10px;
    padding-left: 10px;
}

.contenido {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.banner-dinamico {
    background-color: #87ceeb;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    animation: deslizarBanner 5s ease-in-out infinite alternate;

}

.pago {
    margin: 50px auto;
    max-width: 600px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 1000;
}

.pago h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.detalle-producto {
    margin-bottom: 20px;
}

.detalle-producto p {
    font-size: 1.2em;
    margin: 5px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-pagar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-pagar:hover {
    background-color: #0056b3;
}

.btn-comprar {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn-comprar:hover {
    background-color: #218838; 
    transform: scale(1.05); 
}

.banner-text {
    display: inline-block;
    margin-right: 20px;
}

@keyframes deslizarBanner {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.about-us {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.about-us .titulo {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.about-us .texto {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

.about-us .volver a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-us .volver a:hover {
    background-color: #0056b3;
}

.cookies-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

.cookies-banner p {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
}

.cookies-banner a {
    color: #f1c40f;
    text-decoration: underline;
}

.cookies-banner button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.cookies-banner button:hover {
    background-color: #218838;
}

.menu .carrito-button {
    border: 2px solid skyblue; 
    padding: 10px 10px; 
    border-radius: 50px; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-right: 30px;
}

.menu .carrito-button:hover {
    background-color: skyblue; 
    color: white;
    border-color: white; 
}


.total {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer{
    text-align: center;
    background-color: skyblue; 
    padding: 15px;
    margin-top: 90px;
    }
    
    .footer img{
        border-radius: 20px;
        height: 30px;
        border: white;
    }
    
    .footer p{
        color: white;
    }
    
    

@media (max-width: 768px) {
    .contenido {
        flex-direction: column; 
    }

    .filtros {
        width: 100%; 
        margin-bottom: 20px;
    }

    .rejilla-productos {
        width: 100%; 
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .rejilla-productos {
        grid-template-columns: repeat(1, 1fr); 
    }
}
